@import "mixin";
div {
    .cada_imagen img {
        @include tamano-img (100%, 17rem, .5rem);
        padding-bottom: 1%;
    }

    .cada_imagen2 {
        a {
            img {
                @include tamano-img (100%, 17rem, 1rem);

            }
        }
        p {
            text-align: center;
            a{            
                font-weight: bold;
            }
        }
        img{                 
            @include tamano-img (100%, 17rem, 1rem);

        }
    }

}

